.home-page {
    text-align: center;
  
    .container {
      min-height: 100vh;
      width: auto;
      background-image: url("./photo_9_2024-05-22_18-32-31.jpg");
      background-size: cover;
      position: relative;
      background-color: rgba(0, 0, 0, 0.35);
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      background-position: center center;
      padding: 40px;
      color: #fff;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
  
      .main-content {
        padding-top: 240px;
  
        h1 {
          font-size: 40px;
          margin-bottom: 40px;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
  
        .intro-text {
          .shop-button {
            display: inline-block;
            padding: 10px 30px;
            font-size: 26px;
            font-weight: bold;
            color: #fff;
            background-color: transparent;
            border: 2px solid #fff;
            border-radius: 4px;
            text-decoration: none;
            transition: background-color 0.3s ease, color 0.3s ease;
  
            &:hover {
              background-color: rgba(112, 33, 33, 0.1);
              color: #fff;
            }
          }
        }
      }
    }
  }