.category-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100vh;
    padding: 40px;
    background-image: url("./background-category-navigation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  
    h2 {
      color: #ffffff;
      font-size: 34px;
      margin-bottom: 80px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  
    .category-slider {
      width: 100%; /* Ensure slider takes full width */
      .category-card {
        text-align: left;
        outline: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      
        img {
          width: 90%;
          height: auto;
          border-radius: 10px;
          transition: transform 0.3s ease;
          margin: 0 auto;
        }
      
        h3 {
          margin-left: 40px;
          margin-top: 20px;
          font-size: 22px;
          color: #e5d3d3;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
          text-align: left;
        }
      
        a {
          text-decoration: none;
          color: inherit;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
      
          &:hover img {
            transform: scale(1.05);
          }
        }
      }
    }
  
    .slick-prev,
    .slick-next {
      z-index: 1;
    }
  
    .slick-dots {
      bottom: -30px;
  
      li button:before {
        color: #000;
      }
  
      li.slick-active button:before {
        color: #ffffff;
      }
    }
  }