.catalog-container {
    background-color: #414141;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  
    .sidebar {
      border: 2px solid #fff;
      position: sticky;
      top: 20px;
      width: 200px;
      padding: 20px;
      margin-right: 20px;
  
      h3 {
        color: #e0e0e0;
        font-size: 18px;
        margin-bottom: 15px;
      }
  
      ul {
        list-style: none;
        padding: 0;
      }
  
      li {
        color: #e0e0e0;
        cursor: pointer;
        padding: 10px 0;
        transition: border 0.3s ease;
  
        &:hover {
          transform: scale(1.05);
        }
  
        &.active {
          font-weight: bold;
        }
      }
    }
  
    .product-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 35px;
  
      a {
        text-decoration: none;
      }
      .product-card {
        cursor: pointer;
        width: 300px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
  
        &:hover {
          transform: translateY(-5px);
        }
  
        .product-image {
          height: 300px;
          width: 250px;
          width: 100%;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
  
        .product-info {
          padding: 15px;
  
          .product-name {
            color: #414141;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
          }
  
          .product-price {
            font-size: 18px;
  
            color: #888;
          }
  
          .product-description {
            font-size: 16px;
            color: #555;
          }
        }
      }
    }
  
    .pagination {
      margin-top: 20px;
      grid-column: 1 / -1;
      display: flex;
      justify-content: center;
      align-items: center;
  
      button {
        padding: 10px 15px;
        margin: 0 5px;
        border: none;
        background-color: #007bff;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #0056b3;
        }
  
        &.active {
          background-color: #0056b3;
        }
  
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }